.footer {
  background-color: #2b2b2b;
  padding: 20px 0;
  text-align: center;
}

/* testo principale */
.footer p {
  font-family: 'Bangers', cursive;
  color: white;
  font-size: 20px;
  margin: 0 0 10px 0;
}

/* link */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* stile link */
.footer-links a {
  font-family: "Arial", sans-serif;
  color: white;
  text-decoration: underline;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #ff7070;
}