.navbar {   /*navbar generica*/
    width: 100%;
    height: 70px;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-sizing: border-box ;
    position: fixed;    /* navbar resta in alto */
    top: 0;
    left: 0;
    z-index: 1000;     /* assicura che la navbar sia sopra altri contenuti */
}

/* sezione di sinistra della navbar */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* logo nella navbar */
.navbar-logo {
    height: 80px;
    width: auto;
    object-fit: contain;
}

/* titolo nella navbar */
.navbar-title {
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
}

/* sezione di destra della navbar */
.navbar-right {
    display: flex;
    gap: 20px;
}

/* stile dei link nella navbar */
.navbar-link {
    color: red;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    transition: color 0.2s ease-in-out;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link:hover {
    color: #ff7070;  
}